{% extends "LMamminoJHACBundle::base.html.twig" %}

{% block content %}
    <div class="home-banner">
        <div class="row">
            {% if is_granted('ROLE_USER') %}
                <div class="nine columns">
                    <a  class="left" href="{{ path('lmammino_jhac_default_cocktail', {'slug': cocktailOfTheDay.getSlug()}) }}" title="Read more about '{{ cocktailOfTheDay.getName() }}'"><img class="left" src="{{ cocktailOfTheDay.getImageSrc() }}" width="150" height="150"/></a>
                    <h2 class="subheader">Cocktail of the day</h2>
                    <h3><a href="{{ path('lmammino_jhac_default_cocktail', {'slug': cocktailOfTheDay.getSlug()}) }}" title="Read more about '{{ cocktailOfTheDay.getName() }}'">{{ cocktailOfTheDay.getName() }}</a></h3>
                    <p>{{ cocktailOfTheDay.getIngredientsList() }}</p>
                </div>
                <div class="three columns read-more">
                    <a href="{{ path('lmammino_jhac_default_cocktail', {'slug': cocktailOfTheDay.getSlug()}) }}" class="button right round" title="Read more about '{{ cocktailOfTheDay.getName() }}'">Read more...</a>
                </div>
            {% else %}
                <div class="eight columns">
                    <p>Discover cocktails... bla bla bla</p>
                </div>
                <div class="four columns">
                    <h2><a href="{{ path('fos_user_registration_register') }}">Register</a></h2>
                    <p>[email]</p>
                    <p>[password]</p>
                    <p><a href="{{ path('hwi_oauth_service_redirect', {'service':'facebook'}) }}">Connect with Facebook</a></p>
                    <p>Already got an account? So just <a href="{{ path('fos_user_security_login') }}">Login</a></p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <h2 class="subheader">Select a cocktail</h2>
        <ul class="block-grid three-up mobile-two-up cocktails-list">
            {% for cocktail in cocktails %}
                <li>
                    <a href="{{ path('lmammino_jhac_default_cocktail', {'slug':cocktail.getSlug()}) }}">
                        <img src="{{ cocktail.getImageSrc('small') }}" title="{{ cocktail.getName() }}" />
                        <span>{{ cocktail.getName() }}</span>
                    </a>
                </li>
            {%  endfor %}
        </ul>
    </div>

{% endblock %}